    <header>
        <div class="header">
            <div class="header__bar">
                <i class="fas fa-bars"></i>
            </div>
           <div class="header__left">
               <div class="header__left__logo">DK</div>
           </div>
           <div class="header__right">
               <div class="header__right__search">
                   <form class="header__right__form" action="#">
                       <input class="header__right__search__input" type="text" name="search" id="search" placeholder="Search...">
                       <button type="submit" class="header__right__search__btn"><i class="fas fa-search"></i></button>
                   </form>
               </div>
               <div class="header__right__content">
                   <ul class="header__right__content__list">
                       <li class="header__right__content__item"><a style="text-decoration: none;" href="python">PYTHON</a></li>
                       <li class="header__right__content__item"><a style="text-decoration: none;" href="js">JAVASCRIPT</a></li>
                       <li class="header__right__content__item"><a style="text-decoration: none;" href="node">NODEJS</a></li>
                       <li class="header__right__content__item"><a style="text-decoration: none;" href="al">ALGORITHSM</a></li>
                       <li class="header__right__content__item"><a style="text-decoration: none;" href="weather">WEATHER</a></li>
                   </ul>
               </div>
           </div>
        
        </div>
    </header>