<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/4533631142.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/i2.css">
</head>
<body>
    {{>header}}
    <div class="main">
        <div class="main__img">
            <img src="https://cdn.vietnambiz.vn/171464876016439296/2020/4/22/what-is-an-algorithm-featured-1587563495931325032820.png" alt="" class="main__im">
        </div>
    </div>
    {{>footer}}
</body>
<script src="/js/app.js"></script>
<script src="/js/script.js"></script>
</html>