<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/4533631142.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/i2.css">
</head>
<body>
    {{>header}}
    <div class="main">
       <div class="main__left">
        <div class="main__person__img">
            <img src="https://eleftherostypos.gr/wp-content/uploads/2017/11/thor-ragnarok-marvel-1200x900.png" alt="" class="main__person__im">
        </div>
       </div>
       <div class="main__right">
           <h1 class="main__hello">HELLO</h1>
           <span class="main__iam">My name is</span> <h2 class="main__name">DINH VAN KHIEM</h2>
           <h3 class="main__des">I am a full-stack web developer</h3>
       </div>
    </div>
    {{>footer}}
</body>
<script src="/js/ap.js"></script>
<script src="/js/script.js"></script>
</html>